.print-setting-show {
  padding-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  :global {
    .ant-row {
      line-height: 48px;
      padding: 0 16px;
      width: 100%;
    }
  }
}

.print-setting-edit {
  padding-bottom: 48px;
  position: relative;
}
